@tailwind base;
@tailwind components;
@tailwind utilities;
 .font-freight {
  font-family: 'freight-sans-pro', sans-serif;
  font-style: normal;
}
@font-face {
  font-family: 'FreightDispProBlack';
  src: url('/fonts/FreightDispProBlack-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

.font-freight {
  font-family: 'FreightDispProBlack', serif;
}